body{


overflow:scroll;
background: none;

}



#head{
z-index:20;
width:100%;
position:fixed;
left:0px;
background:transparent;
min-height:0px;
height:250px;
top:-30px;
opacity:1;
display:block;

}



#samg{

position:fixed;
top:25px;
left:37%;
margin-left:-50px;
margin-top:-10px;
width:80px;
height:80px;
background:transparent;
opacity:1;
z-index:100;
}


.lay2{
	
top:35%;
border-radius:9px;
font-family: 'Century Gothic', CenturyGothic, AppleGothic, sans-serif;
color:#FFF;
font-style: normal;
font-variant: normal;
font-weight:normal;
font-size:18px;
opacity:1;
transition:-webkit-transform .3s ease-in;
transition:transform .3s ease-in;
width:120px;
height:15px;
padding:10px 0 12px 0;
text-align:center;

}

#nav{
	z-index: 20;
position:fixed;
top:0px;
left:0px;
width:100%;
height:110px;

opacity:1;
background:rgba(90,90,90,0.5)
}




#nav a {
  color: #797878;
  margin: 0 20px;
  padding: 5px;
  position: absolute;
  overflow: hidden;
  top:30px;
  -moz-transition: ease-out 0.3s 0.1s;
  -o-transition: ease-out 0.3s 0.1s;
  -webkit-transition: ease-out 0.3s;
  -webkit-transition-delay: 0.1s;
  transition: ease-out 0.3s 0.1s;
  text-decoration: none;
}
#nav a .lay2::before {
  width: 100%;
  height: 2px;
  background: white;
  content: "";
  position: absolute;
  left: 0;
  top: 0;
  -moz-transition: 0.1s;
  -o-transition: 0.1s;
  -webkit-transition: 0.1s;
  transition: 0.1s;
  -moz-transform: translateX(-100%);
  -ms-transform: translateX(-100%);
  -webkit-transform: translateX(-100%);
  transform: translateX(-100%);
}
#nav a .lay2::after {
  width: 100%;
  height: 2px;
  background: white;
  content: "";
  position: absolute;
  right: 0;
  bottom: 0;
  -moz-transition: 0.1s 0.2s;
  -o-transition: 0.1s 0.2s;
  -webkit-transition: 0.1s;
  -webkit-transition-delay: 0.2s;
  transition: 0.1s 0.2s;
  -moz-transform: translateX(100%);
  -ms-transform: translateX(100%);
  -webkit-transform: translateX(100%);
  transform: translateX(100%);
}



#nav a:nth-child(1)::after,#nav a:nth-child(1)::before{
  background: #04E762;


}


#nav a:nth-child(2)::after,#nav a:nth-child(2)::before{
  background: #F5B700;


}


#nav a:nth-child(3)::after,#nav a:nth-child(3)::before{
  background: #DC0073;


}


#nav a:nth-child(4)::after,#nav a:nth-child(4)::before{

background:#008BF8;

}


#nav a:nth-child(5)::after,#nav a:nth-child(5)::before{
 background:#89FC00;


}


#nav a:nth-child(6)::after,#nav a:nth-child(6)::before{
  background:#F2E94E;


}
#nav a::before {
  width: 2px;
  height: 100%;
  background: white;
  content: "";
  position: absolute;
  left: 0;
  top: 0;
  -moz-transform: translateY(100%);
  -ms-transform: translateY(100%);
  -webkit-transform: translateY(100%);
  transform: translateY(100%);
  -moz-transition: 0.1s 0.3s;
  -o-transition: 0.1s 0.3s;
  -webkit-transition: 0.1s;
  -webkit-transition-delay: 0.3s;
  transition: 0.1s 0.3s;
}
#nav a::after {
  width: 2px;
  height: 100%;
  background: white;
  content: "";
  position: absolute;
  right: 0px;
  bottom: 0;
  -moz-transform: translateY(-100%);
  -ms-transform: translateY(-100%);
  -webkit-transform: translateY(-100%);
  transform: translateY(-100%);
  -moz-transition: 0.1s 0.1s;
  -o-transition: 0.1s 0.1s;
  -webkit-transition: 0.1s;
  -webkit-transition-delay: 0.1s;
  transition: 0.1s 0.1s;
}
#nav a:hover {
  color: white;
}
#nav a:hover::before, #nav a:hover::after {
  -moz-transform: translateX(0);
  -ms-transform: translateX(0);
  -webkit-transform: translateX(0);
  transform: translateX(0);
}
#nav a:hover .lay2::before, #nav a:hover .lay2::after {
  -moz-transform: translateX(0);
  -ms-transform: translateX(0);
  -webkit-transform: translateX(0);
  transform: translateX(0);
}





#nav a:nth-child(2){ 
  left:0px;

}


#nav a:nth-child(5){
  left:140px;
}


#nav a:nth-child(1){
  left:280px;
}


#nav a:nth-child(4){
  right:0px;
}


#nav a:nth-child(3){
  right:140px;
}


#nav a:nth-child(6){
  right:280px;
}








/*  Samgatha Animation */
.text--line {

  font-size: 210px;
}
.write--line {

  font-size: 210px;
}
.text--line3 {
  font-size: 90px;
}
.text--line2 {
  font-size: 140px;
}
svg {
  position: absolute;
  width: 100%;
  height: 100%;
}



.text-copy {
  fill: none;
  stroke: white;
  stroke-dasharray: 7% 28%;
  stroke-width: 5px;
  -webkit-animation: stroke-offset 25s linear 3s infinite alternate;
  -o-animation: stroke-offset 15s linear 3s infinite alternate;
  -moz-animation: stroke-offset 15s linear 3s infinite alternate;

  animation: stroke-offset 15s linear 3s infinite alternate;
}

.text-copy:nth-child(1) {
  stroke:#ff471a;
  stroke-dashoffset: 14%;
}

.text-copy:nth-child(2) {
  stroke:#000;
  stroke-dashoffset: 28%;
}

.text-copy:nth-child(3) {
  stroke:#ff471a;
  stroke-dashoffset: 42%;
}

.text-copy:nth-child(4) {
  stroke: #000;
  stroke-dashoffset: 56%;
}

.text-copy:nth-child(5) {
  stroke: #ff471a;
  stroke-dashoffset: 70%;
}

@-webkit-keyframes stroke-offset {
  
  50% {
    stroke-dashoffset: 70%;
    stroke-dasharray: 0 20%;
    
  } 
}


@keyframes stroke-offset {
  50% {

    stroke-dashoffset: 35%;
    stroke-dasharray: 0 87.5%;
  }
}


footer{
position:fixed;
left:0px;
bottom:0px;
width:100%;
height:50px;
background:rgba(112,112,112,0.1);
}

#webops{
padding:5px 10px 5px 10px;

position:absolute;
left:50px;
top:10px;
font-size:16px;
color:#fff;
font-family: 'Century Gothic', CenturyGothic, AppleGothic, sans-serif;
}
#link1{
position:absolute;
left:250px;
}
#link2{
position:absolute;
left:350px;
}
#link3{
position:absolute;
right:170px;
}
#link4{
position:absolute;
right:50px;
}

#link5{
position:absolute;
right:270px;
}
#link6{

position:absolute;
right:400px;
top:10px;
}
#link7{

position:absolute;
right:450px;
top:10px;
}

#link8{

position:absolute;
right:500px;
top:10px;
}
#link1 a, #link2 a, #link3 a,#link4 a,#link5 a{
color:#fff;
text-decoration:none;

}



.footer_link{
top:10px;
font-size:16px;
font-family: 'Century Gothic', CenturyGothic, AppleGothic, sans-serif;
border-radius:5px;
-webkit-transition:all .3s ease-in;
transition:all .3s ease-in;
padding:5px 10px 5px 10px;
}

.footer_link:hover{
  color:#000;
background:rgba(200,200,200,.5);
}








#mak_1{
	 position:absolute;
	top:0;
	left:0;
	width: 100%;
	height:110%;
	background:url("../assets/makers_1.jpg");
    background-position: left;
}


#makers_bg_1{
position:absolute;
	top:110%;
	left:0;
	width: 100%;
	height:30%;
	background:url("../assets/fbg6.jpg");
    background-attachment: fixed;
  background-position: center;

}


#mak_2{
	position:absolute;
	top:140%;
	left:0;
	width: 100%;
	height:110%;
	background:url("../assets/makers_bg_1.jpg");
	background-position: right;
  
}

#makers_bg_2{
position:absolute;
	top:250%;
	left:0;
	width: 100%;
	height:30%;
	background:url("../assets/parellel.jpg");
    background-attachment: fixed;

}

#mak_3{
	position:absolute;
	top:280%;
	left:0;
	width: 100%;
	height:120%;
	background:url("../assets/makers_bg_4.jpg");
	background-size: 100% 130%;
	
}

#makers_bg_3{
position:absolute;
	top:390%;
	left:0;
	width: 100%;
	height:30%;
	background:url("../assets/makers_3.jpg");
    background-attachment: fixed;
}


#mak_4{
	position:absolute;
	top:420%;
	left:0;
	width: 100%;
	height:110%;
	background:url("../assets/makers_4.jpg");
		background-size: 100% 130%;

}





#mak_head_side{

  font-family: 'Fjalla One', sans-serif;
  font-size:30px;
  color:#000;
  position: absolute;
  top:120px;
  left:100px;

}




#mak_head_1{

  font-family: 'Fjalla One', sans-serif;
  font-size:67px;
  color:#000;
  position: absolute;
  top:170px;
  left:250px;
  
}



#mak_head_2{

font-family: 'Pacifico', cursive;
  font-size:50px;
  color:#000;
  position: absolute;
  top:30px;
  right:350px;
  

}

#mak_content_1_1{

font-family: 'Open Sans Condensed',sans-serif;
  font-size:23px;
  color:#000;
  position: absolute;
  top:250px;
  left:30px;
  width:47%;


}

#mak_content_1_2{


font-family: 'Open Sans Condensed',sans-serif;
  font-size:23px;
  color:#000;
  position: absolute;
  top:350px;
  left:30px;
  width:35%;

}








#mak_content_3_1{

font-family: 'Inconsolata';
  font-size:20px;
  color:#000;
  position: absolute;
  top:70px;
  left:30px;
  width:29%;
overflow: scroll;
height:95%;
  
}


#mak_head_3_1{

font-family: 'Indie Flower', cursive;
  font-size:43px;
  color:#000;
  position: absolute;
  top:20px;
  left:130px;
  text-align: center;

}

#mak_head_3_2{

font-family: 'Indie Flower', cursive;
  font-size:43px;
  color:#000;
  position: absolute;
  top:20px;
  left:50%;
  width:150px;
  margin-left:-75px;
  text-align: center;

}

#mak_head_3_3{

font-family: 'Indie Flower', cursive;
  font-size:43px;
  color:#000;
  position: absolute;
  top:20px;
  right:130px;
  width:150px;
  margin-left:75px;
  text-align: center;

}


#mak_divider_1{

  position: absolute;
  top:90px;
  left:34%;
  width:2px;
  height:75%;

background: #000;


}

#mak_divider_2{

  position: absolute;
  top:90px;
  right:33%;
  width:2px;
  height:75%;

background: #000;


}


#mak_content_3_2{


font-family: 'Inconsolata';
  font-size:20px;
  color:#000;
  position: absolute;
  top:70px;
  left:52%;
  width:30%;
  margin-left:-17.5%;

overflow: scroll;
height:85%;
}

#mak_content_3_3{


font-family: 'Inconsolata';
  font-size:20px;
  color:#000;
  position: absolute;
  top:70px;
  right:20px;
  width:30%;
  height:85%;
  margin-left:-17.5%;
overflow:scroll;


}


#mak_content_3_3:hover{
overflow:scroll;

}


#mak_content_2_1{


font-family: 'Comfortaa', cursive;
  font-size:19px;
  color:#000;
  position: absolute;
  top:100px;
  right:20px;
  width:55%;



}


#mak_content_2_2{


font-family: 'Comfortaa', cursive;
  font-size:19px;
  color:#000;
  position: absolute;
  top:260px;
  right:20px;
  width:45%;



}


#mak_content_2_3{



font-family: 'Comfortaa', cursive;
  font-size:19px;
  color:#000;
  position: absolute;
  top:420px;
  right:20px;
  width:40%;

}